* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  /* background-color: yellow; */
  overflow-y: none;
  position: relative;
}


.navbar {
  background-color: #fff;
}

.navbar .navbar-brand {
  color: #e54033;
  font-size: 40px;
  border-bottom: 2px solid black;
  border-right: none;
}
.navbar a {
  color: #e54033;
  font-size: 1.2em;
  border-right:2px solid #e54033;
}


.container {
  background-color: white;
  height: 75vh;
  border-radius: 10px;
  margin-top: 30px;
}
.container .row{
  height: 100%;
}
.container .col-md-4 {
  
  background-color: teal;
}
.container .col-md-8 {
  /* height: 100%; */
  padding: 200px;
  background-color: rgb(128, 58, 0);
}



footer {
  position: absolute;
  bottom: 0;
  background-color: #000;
  color: white;
  display: flex;
  align-content: center;
  justify-content: center;
}
